$cor = {
  splashBg: #e0e1e3
  splashTxt: #454545
  splashBorder: #cfbe70
  menuBg: #131313
  menuTxt: #FFFFFF
  menuTitle: #575757
  menuIcon: #FFFFFF
  menuDivUp: #050505
  menuDivDown: #2a2a2a
  menuHover: #cfbe70
  menuHoverTxt: black
  menuActive: #cfbe70
  headerBg: #FFFFFF
  headerTxt: #000000
  shadow: #E1E1E1
  loading: #cfbe70
  active: #54985f
  success: #54985f
  error: #bb383e
  disable: #8e8e8e
  mainBg: #F8F8F8
  loginBg: #000000
  loginFormBg: #222222
  loginFormTxt: #FFFFFF
  loginFormBtn: #cfbe70
  formBG: #F8F8F8
  formTxt: black
  tableHead: #cfbe70
  tableBorder: #A1A1A1
  tableTxt: #707070
  black: black
  white: white
  gray: gray
  red: red
}
