article.contentInfo
	h1.info__title Contato
	.contato__wrap

		section.contato__item.contato__info
			p.contato__child.features__txt Gostaria de saber mais sobre nós ou tirar alguma dúvida? Aguardamos o seu contato.
			p.contato__child.info
				svg.icon__phone
					use(xlink:href='#phone')
				span 11 3021-4500
				br
				| Rua Aibi, 102 - Conjunto 21 - São Paulo - SP
			.contato__child#map-canvas.map-canvas

		form.contato__item#contatoFrm.contato__frm(method='post', action='email.php')
			label.vh(for='minbyV') Outros
			input#minbyV.vh(type='text', name='minbyV', title='Outros')
			.frm__input
				label(for='frmNome') Nome
				input#frmNome.required(type='text', placeholder='Informe seu nome', name='nome', title='Nome', required)
			.frm__input
				label(for='frmEmail') E-mail
				input#frmEmail.required(type='email', placeholder='Informe seu e-mail', name='email', title='E-mail', required)
			.frm__input
				label(for='frmTelefone') Telefone
				input#frmTelefone(type='tel', placeholder='Informe seu telefone', name='telefone', title='Telefone', required)
			.frm__input
				label(for='frmMsg') Mensagem
				textarea#frmMsg(rows='4', cols='30', placeholder='Deixe uma mensagem', name='msg', title='Mensagem', required)
			.frm__btn
				button.btn.btn--red(type='submit', formnovalidate) Enviar
