footer.footer
	.footer__disclaimer
		a(href="http://dgtalstudio.com.br")
			span Mais um site espetacular feito com a
			svg.icon__dgs(preserveAspectRatio='none')
				use(xlink:href='#dgs')

	svg.footer__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 50', preserveAspectRatio='none')
		polygon.tri--gray(points='0,50 100,30 100,50')
		polygon.tri--red(points='0,30 100,50 0,50')
