#scrollSize.scroll-size

	#bg.condominio

	svg#polys.polys(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 50', preserveAspectRatio='none')
		polygon#white0.poly.poly--white(points='0,0 100,0 100,50 0,50')
		polygon#white1.poly.poly--white.hidden(points='0,0 50,0 100,50 0,50')
		polygon#white2.poly.poly--white.hidden(points='0,0 50,0 50,50 0,50')
		polygon#white3.poly.poly--white.hidden(points='0,0 50,0 0,50 0,50')
		polygon#white4.poly.poly--white.hidden(points='0,0 50,0 0,0 0,0')
		polygon#red0.poly.poly--red(points='100,0 100,0 100,50 100,50')
		polygon#red1.poly.poly--red.hidden(points='50,0 100,0 100,50 50,50')
		polygon#red2.poly.poly--red.hidden(points='0,0 100,0 100,50 0,50')

	#logoArrow.logo
		svg#logo.logo__img
			use(xlink:href='#minBy')

		svg#arrowDownIco.logo__arrow
			use(xlink:href='#arrowDown')

	.slogan#slogan
		h1.slogan__txt Feito para facilitar a sua vida e a de seu condomínio
