html
  width: 100%
  height: 100%
  touch-action: manipulation
  color: black
  background-color: $cor.mainBg
  font-size: 1em
  line-height: 1.4

body
  font-family: 'Abel', sans-serif
  width: 100%
  height: 100vh
  margin: 0
  padding: 0
  word-wrap: break-word

// .flashError
//   display: none

// .splash
//   border-bottom: 2px solid $cor.splashBorder
//   box-sizing: border-box
//   position: relative
//   color: $cor.splashTxt
//   background-color: $cor.splashBg
//   flex: 0 1 $splashSize

// .splash__title
//   margin: 0
//   padding: 0
//   margin-left: 15px
//   align(vertical)

// .layout
//   width: 100%
//   height: 100%
//   position: absolute

// .layoutContent
//   display: flex
//   flex-direction: column
//   overflow-y: auto
//   overflow-x: hidden
//   position: relative
//   width: 100%
//   height: 100%

// .layoutContent__header
//   display: flex
//   flex-wrap: nowrap
//   justify-content: space-between
//   align-items: center
//   box-sizing: border-box
//   flex-shrink: 0
//   width: 100%
//   margin: 0
//   padding: 5px
//   border: none
//   min-height: 64px
//   max-height: 1000px
//   z-index: 3
//   background-color: $cor.white
//   color: $cor.black
//   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
//   +above(1024px)
//     margin-left: 280px
//     width: calc(100% - 280px)

// .header
//   display: flex
//   flex-wrap: nowrap
//   align-items: center

// .header__title
//     margin: 0
//     margin-left: 15px
//     +below(3)
//       font-size: 1.3em

// .header__hamburguer
//   width: 24px
//   height: @width
//   fill: $cor.black
//   margin-left: 10px
//   padding: 5px
//   cursor: pointer
//   +above(1024px)
//     display: none

// .layoutContent__main
//   will-change: transform
//   display: inline-block
//   overflow-y: auto
//   overflow-x: hidden
//   flex-grow: 1
//   z-index: 1
//   +above(1024px)
//     margin-left: 280px

// .layoutContent__obfuscator
//   position: fixed
//   background-color: transparent
//   top: 0
//   left: 0
//   height: 100%
//   width: 100%
//   z-index: 4
//   visibility: hidden
//   transition-property: background-color
//   transition-duration: .2s
//   transition-timing-function: cubic-bezier(.4,0,.2,1)
//   &.is-visible
//     background-color: rgba(0,0,0,.5)
//     visibility: visible
