.closeDetalhe
  position: fixed
  box-sizing: border-box
  padding: 0
  width: 1.5em
  height: @width
  z-index: 1000
  top: 20px
  right: 20px
  overflow: hidden
  font-size: 1.5em
  color: $cor.white
  border-radius: 5px

.contentBody
  padding: 20px

.contentBody__title
  padding: 0
  margin: 0
  margin-bottom: 10px
  font-size: 1.5em

.contentDetalhe
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background-color: $cor.mainBg
  box-sizing: border-box
  padding: 20px
  padding-top: 80px
  overflow: auto

.boxesStatus
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  +below(3)
    justify-content: flex-start

.boxesStatus--mb
  margin-bottom: 20px

.status
  display: flex
  margin: 5px
  flex: 0 1 calc(115px - 10px)
  flex-direction: column
  justify-content: flex-start
  align-items: center
  +below(3)
    flex: 0 1 calc(33% - 10px)

.status__img
  background: $cor.disable
  color: white
  border-radius: 5px
  padding: 20px
  +below(3)
    > .iconstatus
      width: 30px
      height: @width

.status__info
  text-align center
  > p
    margin: 0
    padding: 0

.status__title
  color: $cor.disable
  margin: 5px auto
  font-size: 1.3em
  +below(3)
    font-size: 1.1em

// Color status
// true
.status__img--true
  background: $cor.active
.status__title--true
  color: $cor.active

// false
.status__img--false
  background: $cor.error
.status__title--false
  color: $cor.error
