.tri-svg
	@extends $triangle
	position: static
	height 15%
	display block

.tri-svg--big
	height 30%

.contentInfo
	padding 30px

.contentInfo--red
	background-color: cor.red

.contentInfo--gray
	background-color: cor.gray

.info__title
	margin: 0 0 15px 0
	font-size: 1.5em
	color: cor.red
	box-sizing: border-box
	text-transform: uppercase
	> span
		color: cor.gray

.info__chamada--white
.info__title--white
	color: cor.white

.info__chamada--gray
.info__title--gray
	color: cor.gray

.icon__wrap
	position: relative

.icon__wrap
.icon__circle
	width: 70px
	height: @width

.icon__inside
	width: 30px
	height: @width

.icon__inside--center
	align()

.icon--red
	fill: cor.red

.icon--white
	fill: cor.white

.icon--gray
	fill: cor.gray

.contato
	position relative
	width 100%
	height 100vh
	display flex
	justify-content: center
	flex-direction: column

.contato__phone
	position: relative
	font-size: 2em
	align-self: center
	z-index: 3
	> .icon__phone
	> span
		margin-right 10px
		display inline-block
		vertical-align middle
	> .icon__phone
		width: 35px
		height: @width
		fill: cor.red

.footer
	position relative
	width 100%
	height 60vh

.footer__svg
	@extends $triangle

.footer__disclaimer
	@extends $disclaimer

