.pagination
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  margin-bottom: 15px

.paginationNav
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  font-size: 0.9em
  > .loading__svg,
  > .btn,
  > .numPage
    box-sizing: border-box
    padding: 0px
    margin: 1px
    flex-shrink: 0
    width: 40px
    height: @width
  > .numPage
    line-height: @height
    border: 0
    text-align: center
    background-color: $cor.mainBg
  > .loading__svg
    fill: $cor.loading
