.scroll-size
	height: 2000px
	overflow: hidden
	background-color: cor.red

.condominio
	width: 100%
	height 100vh
	background-image: url('../images/condominio-mobile.jpg')
	background-size: cover
	position: fixed
	top: 0
	left: 0
	z-index: 1
	+above(500px)
		background-image: url('../images/condominio.jpg')

.polys
	width 100%
	height 100vh
	position fixed
	top 0
	left 0
	z-index: 2
	> .poly
		perspective 600
		fill white
		width 100%
		height 100%
		&--red
			fill: cor.red

.logo
	width 100%
	height 100vh
	position: absolute
	top: 0
	left: 0
	z-index: 3

.logo__img
	align()
	width: 200px
	+above('m')
		width: 300px

.logo__arrow
	align(horizontal)
	width: 70px
	fill: cor.red
	bottom: 10px

.slogan
	position: fixed
	top: 0
	right: -100%
	width: 50%
	height: 100%
	box-sizing: border-box
	padding: 5vw
	z-index: 4

.slogan__txt
	align(vertical)
	text-transform: uppercase
	color: white
	font-size: 5.5vw
	line-height: 10vw
	word-wrap: break-word

.hidden
	visibility: hidden
	display: none
