.static
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: 100%
	height: 100vh
	position relative

.static__logo
	display block
	width 250px
	+above('m')
		width 300px

.static__slogan
	text-transform uppercase
	text-align center
	font-size 0.95em
	margin: 0
	margin-bottom: 5px
	+above('m')
		font-size 1.2em

.static__slogan--small
	margin: 0
	font-weight: normal
	font-size 0.85em
	+above('m')
		font-size 1.0em

.static__slogan--red
	color: cor.red

.static__slogan--gray
	color: cor.gray

.static__disclaimer
	@extends $disclaimer

.static__svg
	@extends $triangle
