$btn
  position relative
  box-sizing border-box
  width 100%
  padding 0.75em
  margin 0
  overflow hidden
  will-change background-color
  transition 0.5s background-color

btn($cor)
  background-color: $cor
  &:hover
  &:focus
    outline: none
  &:hover
    background-color: darken($cor, 20%)

button
  appearance: none
  border: none
  border-radius: 0
  font-weight: 400
  font-size: 1.3em
  color: $cor.white
  cursor: pointer

.btn
  @extend $btn

for $k, $v in $cor
  .btn--{$k}
    btn($v)

.ripple
  pointer-events: none
  position: absolute
  top: 0
  left: 0
  z-index: 0
  width: 100%
  height: @width
  fill: rgba($cor.black, 0.3)

.ripple__circle
  opacity: 0
  width: 100%
  height: @width
