.menu
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	width: 280px
	height: 100%
	max-height: 100%
	position: fixed
	top: 0
	left: 0
	box-sizing: border-box
	background-color: rgba(cor.white, 0.95)
	border-right: 2px solid cor.red
	overflow: visible
	overflow-y: auto
	z-index: 6
	transform: translateX(-290px)
	transform-style: preserve-3d
	will-change: transform
	transition-duration: .5s
	transition-timing-function: cubic-bezier(.4,0,.2,1)
	transition-property: transform

.menu--open
	transform: translateX(0)

.menu--dragging
	transition: none

.menuLista
	box-sizing: border-box

.menuLista__title
	color: black
	padding: 15px
	margin: 0

.menuLista__nav
	box-sizing: border-box
	> a
		unstyledLink()
		display: block
		padding: 15px
		span
			display: inline-block
			vertical-align middle
		span
			color: black
		&:hover
			background-color: black
			span
				color: white

.menuLista__logo
	width: 145px
	margin: 0 auto
	display: block

