input[type="range"]
  appearance: none
  width: 100%
  position: relative
  z-index: 1
  margin: 0
  border: none
  padding: 1px
  border-radius: 50em
  background: rgba($cor.gray, 0.9)
  outline: none
  &:active
    &::-webkit-slider-thumb
      outline: none
      box-shadow: 0 0 10px $cor.gray

input[type="range"]::-moz-range-track
  border: inherit
  background: transparent

input[type="range"]::-ms-track
  border: inherit
  color: transparent
  background: transparent

input[type="range"]::-ms-fill-lower
  background: transparent

input[type="range"]::-ms-fill-upper
  background: transparent

input[type="range"]::-ms-tooltip
  display: none

$rangPseudo = "::-webkit-slider-thumb" "::-moz-range-thumb" "::-ms-thumb"
$rangeSize = 30px
for $c in $rangPseudo
  input[type="range"]{$c}
    appearance: none
    box-sizing: border-box
    position: relative
    z-index: 2
    border-radius: 100%
    width: $rangeSize
    height: $rangeSize
    border: 1px solid hsl(0, 0, 50%)
    cursor: pointer
    background: linear-gradient(#f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%)
