$inblva
  display: inline-block
  vertical-align: bottom

table
  background-color: white

th
  text-align: left

.table
  table-layout: fixed
  width: 100%
  max-width: 100%
  > tbody,
  > tfoot
    > tr
      > td
        padding: 15px
        border-top: 1px solid lighten($cor.tableBorder, 25)
    > tr:first-child
      > td
        border-top: 0

  > thead > tr > th
    padding: 15px
    border-bottom: 2px solid lighten($cor.tableBorder, 25)
    font-weight: normal
    color: $cor.tableHead

  > thead:first-child
    > tr:first-child
      > th,
      > td
        border-top: 0

table col[class*="col-"]
  position: static
  float: none
  display: table-column

table
  td,
  th
    &[class*="col-"]
      position: static
      float: none
      display: table-cell

.table__td--right
  text-align: right

.table__td--center
  text-align: center

.table--hover
  > tbody > tr:hover
    background-color: #F5F5F5
    cursor: pointer

.table--shadow
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)
  // position: relative
  // &:before,
  // &:after
  //   content: ""
  //   position: absolute
  //   z-index: -2

// .curved:before
//   top: 50%
//   bottom: 0
//   left: 10px
//   right: 10px
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
//   border-radius: 100px / 10px
//   +below(3)
//     display: none

.table
  +below(3)
    display: block
    background-color: transparent
    box-shadow: none
    thead
      display: none
    tbody,
    tr,
    td
      display: block
    td
      display: flex
      flex-wrap: nowrap
      justify-content: space-between
      align-items: center
      &:before
        content: attr(data-th)
        font-weight: bold
        display: block
        padding-right: 10px
        color: $cor.tableHead
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        vertical-align: middle
    > tbody
      > tr,
      > tr:hover
        background-color: $cor.white
      > tr,
      > tr:first-child
        margin-bottom: 20px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
        > td
          border-top: 1px solid lighten($cor.tableBorder, 25)
          &:first-child
            border: 0

.table--mb
  margin-bottom: 25px
