tooltip($bgcolor = rgba(black, 0.7), $arrow = 10px, $radius = 5px, $maxWidth = 250px, $padding = 15px)
  backface-visibility: hidden
  will-change: opacity
  max-width: $maxWidth
  border-radius: $radius
  background-color: $bgcolor
  padding: $padding
  color: white
  box-sizing: border-box
  display: inline-block
  position: absolute
  top: 0
  left: 0
  right: auto
  bottom: auto
  visibility: hidden
  margin: 0
  opacity: 0
  transition: opacity 0.3s ease-out
  z-index: 100

  &:after
    width: 0
    height: 0
    border-left: $arrow solid transparent
    border-right: $arrow solid transparent
    border-top: $arrow solid $bgcolor
    content: ''
    position: absolute
    left: 50%
    bottom: $arrow * -1
    margin-left: $arrow * -1

  &.top:after
    border-top-color: transparent
    border-bottom: $arrow solid $bgcolor
    top: $arrow * -2
    bottom: auto

  &--show
    visibility: visible
    opacity: 1

.tooltip
  tooltip()
